// fonts
$font-gilroy            :  'Gilroy', Arial, Helvetica, sans-serif;
$font-manrope           :  'Manrope', Arial, Helvetica, sans-serif;


// colors
$white                  : #FFFFFF;
$black                  : #000000;
$primary-black          : #22253B;
$primary-second-black   : #3C3E50;
$primary-blue           : #EAF2F5;
$primary-light-blue     : #38BFF2;
$primary-dark-blue      : #5096FF;
$primary-very-dark-blue : #4B77B9;
$primary-purple         : #AF93FF;
$primary-orange         : #F15525;
$primary-yellow         : #FFB359;
$primary-green          : #4BD071;
$primary-overlay        : #393B4F;
$primary-divider        : #DEDEDE;


// transition
$fast                   : .2s;
$normal                 : .5s;


// breakpoints
$screen-sm-max          : 767px;
$screen-mid-max         : 1024px;
$screen-sm-min          : 1025px;

//other
$main-border-radius     : 75px; 