.promo {
    padding: res(86, 133) 10px res(26, 66);
    background-color: $primary-blue;

    &__content {
        max-width: 638px;
        flex: 1;
    }

    h1 {
        margin-bottom: res(18, 31);
        font-weight: 500;
        font-size: res(24, 46);
    }

    h4 {
        max-width: 365px;
        padding-top: res(9, 14);
        font-size: res(12, 16);
        line-height: 1.4;
        border-top: 1px solid $primary-divider;
    }

    b {
        font-weight: 500;
        color: $primary-orange;
    }

    em {
        font-weight: 600;
    }

    .action {
        max-width: 321px;
        margin-top: res(21, 18);
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    @include tablet {
        text-align: center;

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container {
            flex-direction: column;
            align-items: center;
        }

        .action {
            margin-bottom: 63px;
        }
    }

    @include mobile {
        &__img {
            margin: 0 50px;
        }
    }
}